<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
<title>Depertamentos</title>

</head>

<body>
	<div layout:fragment="content">
		<div class="container-fluid p-2">
			<div class="row">
				<div class="col-12">
					<nav aria-label="breadcrumb card"
						style="margin-top: -25px; font-size: 0.8rem;">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a  class="text-decoration-none" th:href="@{/home}">
								     <i class="fa-duotone fa-solid fa-house fs-7"></i> Home
							    </a>
							</li>
							<li class="breadcrumb-item">
								<a  class="text-decoration-none"	th:href="@{${queryParams != null and queryParams != ''} ? '/departamentos?' + queryParams : '/departamentos'}">
								<i class="fa-duotone fa-solid fa-sitemap"></i> Departamentos - Lista </a>
							</li>
							<li class="breadcrumb-item"><span class="text-muted"><i class="fa-duotone fa-solid fa-circle-plus"></i> Novo Registro </span></li>


						</ol>
					</nav>
				</div>
				<div class="col-12">
					<!-- Mensagens de erro e de ok -->
					<div th:if="${msgOk}"
						class="alert alert-success alert-dismissible fade show mb-4"
						role="alert" id="successAlert">
						<i class="fa-duotone fa-solid fa-thumbs-up me-2"></i> <span
							th:text="${msgOk}"></span>
						<button type="button" class="btn-close" data-bs-dismiss="alert"
							aria-label="Close"></button>
					</div>

					<!-- Mensagem de Erro -->
					<div th:if="${msgErro}"
						class="alert alert-danger alert-dismissible fade show mb-4"
						role="alert" id="errorAlert">
						<i class="fa-duotone fa-solid fa-triangle-exclamation me-2"></i> <span
							th:text="${msgErro}"></span>
						<button type="button" class="btn-close" data-bs-dismiss="alert"
							aria-label="Close"></button>
					</div>
				</div>
				<div class="col-12">

					<form th:object="${departamento}"
					      th:action="${departamento.id == null}
            ? @{/departamentos/salvar}
            : @{'/departamentos/editar/' + ${departamento.id} + '?' + ${queryParams}}"
					      method="post">
						<input type="hidden" th:field="*{id}">
						<div class="card">
							<div class="card-header d-flex justify-content-between align-items-center fs-4 pr-custom-text fw-semibold text-uppercase">

								<h5 class="mb-0 text-secondary fs-6">Novo Registro</h5>
								<div class="d-flex gap-2">
									<a data-bs-toggle="tooltip" title="Cancelar Ação"	th:href="@{${queryParams != null and queryParams != ''} ? '/departamentos?' + queryParams :'/departamentos'}"
										class="btn btn-outline-danger"> <i class="fa-duotone fa-solid fa-ban"></i> Cancelar
									</a>

									<button data-bs-toggle="tooltip" title="Salvar o Registro" type="submit" class="btn btn-outline-sistema">
										<i class="fa-duotone fa-solid fa-floppy-disk"></i> SALVAR
									</button>
								</div>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-4">
										<label class="form-label fw-semibold text-secondary">
											Nome Depto * </label>
										<input type="text" th:field="*{nome}" id="nome" placeholder="Digite o Nome do novo Departamento"  class="form-control"
										       th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid' : ''">
										<div class="invalid-feedback d-block"
										     style="min-height: 20px;"
										     th:if="${#fields.hasErrors('nome')}"
										     th:errors="*{nome}">
										</div>
									</div>
									<div class="col-6">
										<label class="form-label fw-semibold text-secondary">
											Descrição Depto </label>
										<input type="text" th:field="*{descricao}" id="descricao" placeholder="Digite uma Descroção para o novo Departamento"  class="form-control" >


									</div>
									<div class="col-2">

										<label class="form-label fw-semibold text-secondary">
											Ativo?
										</label>

										<div class="d-flex gap-3 align-items-center">

											<div class="form-check">
												<input class="form-check-input"
												       type="radio"
												       th:field="*{status}"
												       value="true"
												       id="statusSim" checked>

												<label class="form-check-label"
												       for="statusSim">
													SIM
												</label>
											</div>

											<div class="form-check">
												<input class="form-check-input"
												       type="radio"
												       th:field="*{status}"
												       value="false"
												       id="statusNao">

												<label class="form-check-label"
												       for="statusNao">
													NÃO
												</label>
											</div>

										</div>

									</div>
								</div>
								<!-- fim da col dentro do bdy -->
							</div>

						</div>
                        <div th:replace="~{fragments/footerForm :: footerForm}"></div>
					</form>
				</div>
				<!-- fim do card -->

			</div>

		</div>
		<!-- FIM DO CARD -->

		<template id="fotoTemplate">
			<div class="card mb-2 p-2 foto-item">

				<input type="hidden" name="fotos[INDEX].id" /> <input type="text"
					name="fotos[INDEX].descricaoDetalhe" class="form-control mb-2"
					placeholder="Descrição" /> <img class="img-preview mb-2"
					style="max-height: 120px; display: none" /> <input type="file"
					name="fotosFiles" class="form-control mb-2"
					onchange="previewFoto(this)" />

				<button type="button" class="btn btn-danger btn-sm"
					onclick="removerFoto(this)">Remover</button>

			</div>
		</template>
		<template id="cicatrizTemplate">
			<div class="card mb-2 p-2 cicatriz-item">

				<input type="text" name="cicatrizes[INDEX].local"
					class="form-control mb-1" placeholder="Local" /> <input
					type="text" name="cicatrizes[INDEX].forma"
					class="form-control mb-1" placeholder="Forma" />

				<textarea name="cicatrizes[INDEX].descricaoDetalhe"
					class="form-control mb-2" placeholder="Descrição"></textarea>

				<input type="number" step="0.01" name="cicatrizes[INDEX].tamanhoCm"
					class="form-control mb-2" placeholder="Tamanho (cm)" /> <input
					type="date" name="cicatrizes[INDEX].dataOcorrido"
					class="form-control mb-2" /> <select name="cicatrizes[INDEX].tipo"
					class="form-control mb-2">
					<option value="">Tipo</option>
					<option value="CIRURGICA">Cirúrgica</option>
					<option value="ACIDENTE">Acidente</option>
					<option value="AUTOINFLIGIDA">Autoinfligida</option>
					<option value="OUTRO">Outro</option>
				</select> <img class="img-preview mb-2"
					style="max-height: 120px; display: none" /> <input type="file"
					name="cicatrizFiles" class="form-control mb-2"
					onchange="previewCicatriz(this)" />

				<button type="button" class="btn btn-danger btn-sm"
					onclick="removerCicatriz(this)">Remover</button>

			</div>
		</template>
		<template id="tatuagemTemplate">
			<div class="card mb-2 p-2 tatuagem-item">

				<input type="text" name="tatuagens[INDEX].local"
					class="form-control mb-1" placeholder="Local" /> <input
					type="text" name="tatuagens[INDEX].forma" class="form-control mb-1"
					placeholder="Forma" />

				<textarea name="tatuagens[INDEX].descricao"
					class="form-control mb-2" placeholder="Descrição"></textarea>

				<!-- BOOLEANOS -->
				<select name="tatuagens[INDEX].temSignificado"
					class="form-control mb-1">
					<option value="">Tem significado?</option>
					<option value="true">Sim</option>
					<option value="false">Não</option>
				</select> <input type="text" name="tatuagens[INDEX].qualSignificado"
					class="form-control mb-2" placeholder="Qual significado?" /> <input
					type="number" name="tatuagens[INDEX].anoRealizacao"
					class="form-control mb-2" placeholder="Ano" /> <select
					name="tatuagens[INDEX].profissional" class="form-control mb-1">
					<option value="">Feita por profissional?</option>
					<option value="true">Sim</option>
					<option value="false">Não</option>
				</select> <select name="tatuagens[INDEX].interesseRemover"
					class="form-control mb-2">
					<option value="">Deseja remover?</option>
					<option value="true">Sim</option>
					<option value="false">Não</option>
				</select> <img class="img-preview mb-2"
					style="max-height: 120px; display: none" /> <input type="file"
					name="tatuagemFiles" class="form-control mb-2"
					onchange="previewTatuagem(this)" />

				<button type="button" class="btn btn-danger btn-sm"
					onclick="removerTatuagem(this)">Remover</button>

			</div>
		</template>
		<div id="modalImagem" class="modal-img">
			<span class="fechar" onclick="fecharModal()">&times;</span> <img
				id="imgModalConteudo">
		</div>
	</div>
</body>
</html>